@{
    ViewData["Title"] = "Group Management";
}


<div id="group-app">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <keep-alive>
        <router-view></router-view>
    </keep-alive>
</div>
<script src="~/js/GroupApp.js"></script>