@{
    ViewData["Title"] = "Pass Office";
}
@model SelfRegistrationConfig

<div id="pass-office-app" class="col-xs-12 full-height">
    @*<div class="row">
            <header id="pass-office-header" class="location-header col-xs-12">
                <img src="~/images/header.jpg" />
                <div class="location-header-content">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </header>
        </div>*@
    <div id="pass-office-content" class="row full-height">
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</div>
<script type="text/javascript">
    //create a JS var based on the Pass Office configuration passed into the View
    var selfRegistrationConfig = @Html.Raw(Json.Serialize(Model.PassOfficeConfig));
</script>
<script src="~/js/PassOfficeApp.js"></script>
