@{
    ViewData["Title"] = "rental Office";
}
@model SelfRegistrationConfig

<div id="rental-office-app" class="col-xs-12 full-height">
    <div id="rental-office-content" class="row full-height">
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</div>
<script type="text/javascript">
    //create a JS var based on the rental Office configuration rentaled into the View
    var selfRegistrationConfig = @Html.Raw(Json.Serialize(Model.RentalOfficeConfig));
</script>
<script src="~/js/RentalOfficeApp.js"></script>



