ResortTools.SelfReg/.vs/ResortTools.SelfReg/DesignTimeBuild/
ResortTools.SelfReg/.vs/ResortTools.SelfReg/v15/
ResortTools.SelfReg/ResortTools.SelfReg/bin/Debug/netcoreapp2.1/ResortTools.SelfReg.deps.json
ResortTools.SelfReg/ResortTools.SelfReg/bin/
ResortTools.SelfReg/ResortTools.SelfReg/node_modules/
ResortTools.SelfReg/ResortTools.SelfReg/obj/
ResortTools.SelfReg/ResortTools.SelfReg/wwwroot/
/.idea
