$global-colors: ( 
    white: #FFFFFF, 
    black: #222222, 
    primary: #a41f1e, 
    secondary: #DCDACC, 
    tertiary: #509CC6, 
    urgent: #a41f1e, 
    border: #ccc, 
    background: ( 
            default: #f6f6f6, 
            light: #f9f9f9 ), 
    grays: ( 
            light1: #ddd, 
            light2: darken(#ddd,5), 
            medium: #999 ), 
    avatars: ( 
            0: #4C648E !important, 
            1: #509CC6 !important, 
            2: #F5BD65 !important, 
            3: #B39971 !important, 
            4: #9F432A !important, 
            5: #002E54 !important, 
            6: #56602F !important, 
            7: #5B4938 !important, 
            8: #CECCA8 !important, ) );

$theme-colors: () !default;

$colors: non-destructive-map-merge($global-colors, $theme-colors);

$primary-color: map-deep-get($colors, 'primary');

@mixin avatar-color($level) {
    background: map-deep-get($colors,'avatars',$level) !important;
}

$tabs--active-text: map-deep-get($colors,'primary');
$tabs--inactive-text: rgba(#000,0.6);
$tabs--indicator: map-deep-get($colors,'primary');

@for $i from 0 through 8 {
    .color-avatar-#{$i} {
        background-color: map-deep-get($colors, 'avatars', $i);
    }
}
