@import "base/module";

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

.location-header {
    .location-header-content {
        position: absolute;
        top: 20px;
        left: 50px;
        color: white;

        #{$a-tags} {
            color: white;
        }
    }
}
