<div class="col-xs-12">
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./SelfRegistration/PassOffice/">Pass Office</a></li>
        <li><a href="./SelfRegistration/RentalOffice/">Rental Office</a></li>
        <li><a href="./SelfRegistration/SkiSchool/">Ski School</a></li>
    </ul>
</div>