
@import "colors";
@import "typography";
@import "Themes/_Shared/scss/shared";

body {
    padding: 0 !important;
    height: 100vh;
}

.btn {
    margin: 20px;
}

.full-height {
    height: 100vh;
}

.center-in-parent {
    margin: 0 auto;
}

body::after {
    content: "";
    background: url(/images/background.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


.left-nav {
    width: 100px;
    float: left;
}

img.aside-logo {
    margin: 15px 0;
    width: 100px;
}

#progress-map-container {

    .progress-map {
        height: 100%;
        background-color: white;
        border-right: 4px solid lightgrey;
        float: left;

        .progress-step {
            text-align: center;
            padding: 5px;

            .progress-step-indicator {
                border-radius: 25px;
                height: 50px;
                width: 50px;
                background-color: lightgrey;
                color: white;
                font-size: 36px;
                color: crimson;
                text-align: center;
                vertical-align: middle;
                margin: 0 auto;
            }

            .progress-step-name {
                font: 10px arial, sans-serif;
                color: lightgrey;
                text-align: center;
            }

            &.active-step {
                background-color: cornsilk;
            }

            &.active-step .progress-step-indicator {
                background-color: crimson;
                color: white;
            }

            &.active-step .progress-step-name {
                color: crimson;
            }
        }
    }
}

//Shared Layout styles
.full-screen {
    float: left;
    height: 100vh;
    width: calc(100% - 104px);

    .outer-panel {
        height: calc(100% - 100px);
        padding: 100px;
        text-align: center;

        .start-over-btn {
            width: 100px;
            padding: 5px;
            border: 1px solid lightgrey;
            background-color:dimgrey;
            color: white;
            position: absolute;
            top: 50px;
            right: 50px;
        }

        .page-title {
            color: crimson;
            font-size: 30px;
            padding-bottom: 15px;
        }

        .inner-panel {
            width: 800px;
            height: 600px;
            border: 2px solid black;
            background-color: white;
            position: relative;
        }
    }

    .member-list {
        position: absolute;
        bottom: 0;
        width: calc(100% - 104px);
        background-color: gray;
        color: white;
        min-height: 100px;
        padding: 10px;

        .contact-name {
            float: left;
            padding: 0 20px;
            font-family: 'Times New Roman', Times, serif;
            border-right: 1px solid white;
            height: 80px;

            .contact-first-name {
                font-size: 20px;
            }

            .contact-last-name {
                font-size: 30px;
            }
        }

        .group-member {
            padding: 0 15px;
            float: left;

            .group-member-image {
                border-radius: 50%;
                border: 1px white solid;
                height: 70px;
                width: 70px;
                background-color: black;
                text-align: center;
                vertical-align: middle;
                line-height: 70px;
                font-size: 40px;
                text-transform: uppercase;
            }

            .member-name {
                text-align: center;
                font: 10px white;
            }
        }
    }
}

//Start Screen Layout
#start-page-screen.full-screen {

    .outer-panel {
        height: 100%;
        padding: 100px;
        text-align: center;


        .inner-panel {
            width: 1100px;
            height: 600px;
            border: none;
            background-color: inherit;
            position: relative;

            .start-page-title {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 60px;
                text-align: right;
            }

            #start-panels {
                padding-top: 500px;

                a {
                    display: inline-block;
                }

                a, a:hover, a:visited {
                    color: white;
                    text-decoration: none;

                    .start-panel {
                        width: 300px;
                        height: 150px;
                        background-color: crimson;
                        border: solid white 2px;
                        border-radius: 10px;
                        float: left;
                        margin: 0 20px;
                    }
                }
            }
        }
    }
}

.contact-search-result {
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;

    &.contact-selected {
        background-color: lightgray;
    }
}

.navigation {
    margin: 20px 0;
    position: absolute;
    bottom: 0;
}

.form-label {
    width: 200px;
    text-align: right;
}
